<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Events | PlanIT</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet"> 
    <link href="css/animate.min.css" rel="stylesheet"> 
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link href="css/myevents.css" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>


<!--
Arlo Web Control Demo - Events list
Documentation: https://developer.arlo.co/doc/webcontrols/upcomingevents
-->
<body>
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                    <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="index.html">
                        <h1><img src="images/logo.png" alt="logo"></h1>
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li class="dropdown">
                            <a href="#">Events <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="myevents.html">My Events</a></li>
                                <li><a href="createevent.html">Create Event</a></li>
                                <li><a href="service.html">Manage Events</a></li>
                                <li><a href="chat.html">Event Chat</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="calendar.html">Calendar <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="calendar.html">My Calendar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="profile.html">Account <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="contactslist.html">Contacts</a></li>
                                <li><a href="logout.html">Logout</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="aboutus.html">More <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="aboutus.html">About Us</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="404.html">404 error</a></li>
                            </ul>
                    </ul>
                </div>
                <div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle">
                            <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->
    
  <!-- Target Elements -->
  <div class="arlo">
    <div class="arlo-filters-container">
      <div id="filters"></div>

      <div id="arlo-filter-toggle">
        <div class="arlo-filter-toggle-show">
          Show filters <i class="fa fa-chevron-down"></i>
        </div>
        <div class="arlo-filter-toggle-hide">
          Hide filters <i class="fa fa-chevron-up"></i>
        </div>
      </div>
    </div>
    <div id="upcoming-events"></div>
  </div>

  <!-- Templates -->
  <script type='text/template' id='filter-template'>
    <div class="arlo-filters arlo-font-primary">
      <div class="arlo-other-filters arlo-clearfix arlo-font-primary">
        <%= showFilter({filterCode: "templatecategory"}) %>
        <%= showFilter({filterCode: "months"}) %>
        <%= showFilter({filterCode: "locname", callbacks: {onRender: "locationfiltertoggle"}}) %>
      </div>
    </div>
  </script>

  <script type='text/template' id='upcoming-events-template'>
    <% if (typeof(Location.IsOnline) !== "undefined" && Location.IsOnline === true && (typeof(Location.Name) !== "undefined" && Location.Name !== "")) { %>
      <div class="arlo-event-card arlo-online-card">
    <% } else { %>
      <div class="arlo-event-card">
    <% } %>

          <div class="arlo-event-card-front">
            
            <div class="arlo-date">
              <div class="arlo-date-container arlo-text-color-contrast">
                <div class="arlo-start-date">
                  <%= SmartDateFields.startDay %>
                </div>
                <div class="arlo-start-month">
                  <%= SmartDateFields.startMonth %>
                </div>
              </div>
            </div>
            
            <div class="arlo-event-image">
            
            </div>

            <div class="arlo-detail">
              <% if (typeof(Provider.Name) !== "undefined" && Provider.Name !== "") { %>
                <div class="arlo-provider-name">
                  Provided by <%= Provider.Name %>
                </div>
              <% }%>
              
              <div class="arlo-name arlo-text-color-contrast">
                <%- Name %>
              </div>

              <div class="arlo-location arlo-text-color-contrast">
                <%- Location.Name %>
              </div>
            </div>

          </div>

            <div class="arlo-event-card-back">

              <div class="arlo-summary arlo-text-color-contrast">
                <%- Summary %>
              </div>

              <%= formatRegistrationInfo('link') %>
              <span class="arlo-loadEventTemplateHiddenButtonContainer">
                <%= showEventTemplateInformation({message:"View Template Details",
                template:"#event-template-template", showLoadButton: false, targetElement: "arlo-eventTemplatetarget", callbacks: {onShow: "eventTemplateLoaded" } }) %>
              </span>

            </div>        
      </div>

  </script>

  <!-- Dependencies -->
  <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="//packages.arlocdn.net/jscontrols/1.0/resources/resizesensor.js" charset="utf-8"></script>
  <script type="text/javascript" src="//packages.arlocdn.net/jscontrols/1.0/resources/elementqueries.js" charset="utf-8"></script>
  <script type="text/javascript" src="//connect.arlocdn.net/jscontrols/1.0/init.js" charset="utf-8" defer="defer"></script>
  <script type="text/javascript" src="js/myevents.js"></script>   

    </body>
</html>
