body {
    padding: 20px 20px;
}

.results tr[visible='false'],
.no-result {
    display: none;
}

.results tr[visible='true'] {
    display: table-row;
}

.counter {
    padding: 8px;
    color: #ccc;
}

.astext {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}